a:link {text-decoration:none;}    /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {text-decoration:underline;}   /* mouse over link */
a:active {text-decoration:underline;}  /* selected link */
a:link {color: white}
body
{
	background-color: black;
	font-family: sans-serif;
}

.top 
{
	position: relative;
	height: 15px; 
	width: 1000px;
	background-color: #6e6e6e;
	font-size: 13px;
	color: white;
	word-break: normal;
	word-spacing: 3px;
	line-height: 10px;
	border: 1px solid gray;
	padding: 2px 2px;
	margin: 0;
}

.top .date
{
	position: absolute
	float: left;
	left: 50%;
	width: 50%;
}

.top .topheader 
{
	color: white;
	float: right;
	float: top;
	right: 45%;
	width: 45%;
	margin: 0;
	padding: 0;
}

.top .topheader a:link
{
	text-decoration: underline;
}

.everypage 
{
	background-color: black;
	color: white;
	height: 55px; 
	width: 1014px; 
	margin: 0;
	padding: 0;
}

.everypage h1
{ 	
	position: relative; 
	float: left; 
	float: top;
	height: auto;
	margin: 0;
	padding: 15px 0px 0px 5px; 
}

.everypage .weather 
{ 
	float: right;
	float: bottom;
	right: 45%;
	width: 45%;
	padding-top: 10px;
	padding-bottom: 0;
}

.everypage .weather a:link
{
	text-decoration: underline;
}

.topsites
{
	width: 1005px;
	background-color: green;
	color: white; 
	border: solid 2px #527A7A;
	margin: 0;
	padding: 0;
	height: 55px;
}
	
.topsites #topnav
{
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
}

.topsites ul#topnav  
{
	margin: 0;
	padding: 0;
}

.topsites #topnav > li /*applies to everything in lists*/ 

{
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
}


.topsites #topnav li.active a 
{
	position: relative;
	background: #396C4A;
	height: auto;
	width: 100%;
	color: white;
	text-align: center;	
}

.topsites #topnav li#frontpage 
{
	padding: 8px 20px 4px 20px;
	background: #396C4A;
}


.topsites #topnav li#news a,
.topsites #topnav li#sports a,
.topsites #topnav li#opinion a,
.topsites #topnav li#features a,
.topsites #topnav li#blogs a,
.topsites #topnav li#multimedia a,
.topsites #topnav li#search a 
{
	position: relative;
	display: inline;
	float: left;
	background: #529B6A;
	padding: 8px 20px 4px 20px;
	margin: 0;
		
}

.topsites #topnav > #search
{
	float:right;
}

#subnav {
	position: absolute;
	top: 36px;
	left: 0;
	text-size: smaller;	
}

ul#subnav 
{
	list-style-type: none; 
	margin: 0;
	padding: 0;
	border: 0;

}

#subnav li 
{
	display: inline;
	float: left;
}

#subnav li a
{
	padding: 6px 10px 2px 5px;
	
}

#subnav #smaller
{
	text-decoration: underline;
}


