
a:link {color:white;}    /* unvisited link */
a:visited {color:white;} /* visited link */

body
{
	background-color: black;
	font-family: sans-serif;
}

.top 
{
	float: top;
	height: 15px; 
	width: 1000px;
	background-color: #6e6e6e;
	font-size: 13px;
	color: white;
	word-break: normal;
	word-spacing: 3px;
	line-height: 10px;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	padding: 2px 5px;
}

.top .date
{
	position: absolute
	float: left;
	left: 50%;
	width: 50%;
}

.top .topheader 
{
	color: white;
	float: right;
	float: top;
	right: 50%;
	width: 50%;
	margin: 0;
	padding: 0;
}
	
.everypage 
{
	background-color: black;
	color: white;
	height: 55px; 
	width: 1014px; 
}

.everypage h1
{ 	
	float: left; 
	height: auto;
	
}

.everypage .weather 
{ 
	float: right;
	float: bottom;
	right: 45%;
	width: 45%;
}

.topsites
{
	width: 1014px;
	height: 80px; 
	background-color: green;
	color: white; 
	border-style: solid;
	border-color: #527A7A;
	border-width: 2px;
	margin-top: 5px; 
}

.topsites #topnav
{
	position: relative;
	top: relative;
	width: 100%;
	left: 0;
	padding: 0;
	margin: 0;
}

.topsites #topnav ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;	
}	

.topsites #topnav li 
{
	display: inline; 
	width: 100%;
	top: 2px;
	left: 2px;	
}

.topsites #topnav li a
{
	display: inline;
	background: #47A375;
	height: 2em;
	line-height: 2em;
	float: left;
	width: 6em;
	display: compact;
	color: white;
	text-align: center;	
	a:link {color:white;}    /* unvisited link */
	a:visited {color:white;} /* visited link */
	a:hover {text-decoration: underline;} /*mouse over link*/ 
	a:active {text-decoration: underline;} /*selected link*/ 

}


.topsites #nav 
{
	position: relative;
	top: relative;
	width: 100%;
	a:link {text-decoration: none;} /*unvisited link*/ 
	a:visited {text-decoration: none;} /*visited link*/ 
	a:hover {text-decoration: underline;} /*mouse over link*/ 
	a:active {text-decoration: underline;} /*selected link*/ 

}

.topsites #nav li a 
{
	display: inline;
	background: #003300;
	height: 2em;
	line-height: 2em;
	float: left;
	width: 8em;
	color: white;
	text-align: center;	
	
}
