
a:link {color:white;}    /* unvisited link */
a:visited {color:white;} /* visited link */

body
{
	background-color: black;
	font-family: sans-serif;

}

.top 
{
	float: top;
	height: 15px; 
	width: 1000px;
	background-color: #6e6e6e;
	font-size: 13px;
	color: white;
	word-break: normal;
	word-spacing: 3px;
	line-height: 10px;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	padding: 2px 5px;
}

.top .date{
	position: absolute
	float: left;
	left: 50%;
	width: 50%;
	
}

.top .topheader 
{
	color: white;
	float: right;
	float: top;
	right: 50%;
	width: 50%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	
.everypage 
{
	background-color: black;
	color: white;
	height: 55px; 
	width: 1014px; 
	
}
.everypage h1
{ 	float: left; 
	left: 50%;
	width: 50%;
}
.everypage .weather 
{ 
	float: right;
	float: bottom;
	right: 45%;
	width: 45%;
}



.topsites
{
	width: 1014px;
	height: 150px; 
	background-color: #006633;
	color: white; 

ul 
{
	list-style-type: none;
	margin: 5px 0px;
	padding: 0;
a:link {text-decoration:none;}    /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {text-decoration:underline;}   /* mouse over link */
a:active {text-decoration:underline;}  /* selected link */}	


	
}
li
{
	display: inline;
	}

.topsites #topnav
{

background-color: #00333; 
}

.topsites #nav 
{
float: left;
float: top;
background-color: #003300;

}